<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Form</title>
    <link rel="stylesheet" href="bank.css">
    <style>
  table {
    border-collapse: separate;
    border-spacing: 0;
  }
  th, td {
    padding: 10px 15px;
  }
  thead {
    background: #395870;
    color: #fff;
  }
  tbody tr:nth-child(even) {
    background: #f0f0f2;
  }
  td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
  }
  td:first-child {
    border-left: 1px solid #cecfd5;
  }
</style>
</head>
<body>
    <h1>Bank Form</h1>
    <div id="customer-info">
<!--FORM-->
    </div>
</body>
</html>
