<!DOCTYPE html>
<html lang="eng">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="style_2.css">
</head>
<body>
  <section class="header">
    <div class="navbar">
        <ul class="navbar-menu">
            <li>
                <a href="index.cgi" class="link-active">
                    Login
                </a>
            </li>           
            <li>
                <a href="table.cgi" class="link-active" target="_parent">
                    Performance
                </a>
            </li>
            <li>
                <a href="profile.cgi" class="link-active" target="_parent">
                    profile
                </a>
            </li>
            <li>
                <a href="blog.cgi" class="link-active">
                    Blog
                </a>
            </li>
        </ul>
    </div>
</section>
  <div class="profile-container">
    <h2>Hello, my name is Nguyen Minh Quan.</h2>
    <p>Let's get acquainted:</p>
    <p>I'm 21 years old and from Vietnam. Now I am a first-year student at KFU.</p>
    <p>My hobbies: playing video games, chess, reading manga.</p>

    <p>Thank you for visiting my site!</p>
  </div>
</body>
</html>
